:root {
  --color-background: #fef3df;
  --color-dark-background: #311e01;
  --color-btn-background: #cfb37d;
  --color-sec-background: #cfb37d36;
  --max-width: 140rem;
  --def-width: 95%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--color-background);
  display: grid;
  grid-template-rows:
    1fr
    auto;
}
img,
video {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

/* * header */
#header {
  position: fixed;
  width: 100vw;
  width: 100dvw;
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  background-color: white;
}

.header-container {
  width: var(--def-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
}

#site-logo {
  display: flex;
  width: 5rem;
}

#site-logo > img {
  width: 100%;
}
