:root {
  --color-background: #fef3df;
  --color-dark-background: #311e01;
  --color-btn-background: #cfb37d;
  --color-sec-background: #cfb37d36;
  --color-border: #d4ab5d;
  --max-width: 140rem;
  --def-width: 92%;
  --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --motion-duration: 0.3s;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

body.menu-opened {
  overflow: hidden;
}
body.first-time {
  overflow: hidden;
}

img,
video,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  flex: 1 0 0;
}

/* * components */
.btn {
  padding: 1rem 5rem;
  background: none;
  border: 0.1rem solid white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.about__logo {
  width: 20rem;
  aspect-ratio: 1;
  object-fit: cover;
}

.about__sub {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about__sub > svg {
  width: 1.5rem;
  fill: var(--color-border);
}

.about__title {
  font-size: 4rem;
}

.about__text {
  text-align: justify;
}

.about__btn {
  margin-top: 2rem;
  border-color: var(--color-border);
  align-self: flex-start;
  transition: background-color 0.3s;
}
.about__btn:hover {
  background-color: var(--color-border);
}

.title {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  font-size: 4rem;
  text-align: center;
  position: relative;
}

.title__before {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-border);
  text-align: center;
}

.title::before,
.title::after {
  content: "";
  height: 0.5rem;
  background-color: var(--color-border);
  margin-top: 1rem;
  border-radius: 100rem;
  position: absolute;
  bottom: -1.5rem;
}

.title::before {
  width: 25%;
  right: 0;
}

.title::after {
  width: 65%;
  left: 0;
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}

.post-card__img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1rem;
}

.post-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem 2rem;
}

.post-card__btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 100rem;
  font-size: 1.2rem;
  border: 0.1rem solid var(--color-border);
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  transition: background-color 0.3s;
}

.post-card__btn:hover {
  background-color: #654f2a;
}

.post-card__btn-icon {
  display: flex;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: #654f2a;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.post-card__btn-icon > svg {
  fill: var(--color-border);
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icon-box__icon {
  display: flex;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--color-dark-background);
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--color-border);
  transition: background-color 0.3s;
}

.icon-box__icon:hover {
  background-color: var(--color-border);
}

.icon-box__icon > svg {
  width: 40%;
  fill: var(--color-border);
  height: auto;
  transition: fill 0.3s;
}

.icon-box__icon:hover > svg {
  fill: var(--color-dark-background);
}

.icon-box__text {
  white-space: nowrap;
}

/* * header */
#header {
  position: fixed;
  width: 100vw;
  width: 100dvw;
  display: flex;
  justify-content: center;
  padding-block: 2rem;
  z-index: 100000;
  transition: background-color 0.3s, padding-block 0.3s, box-shadow 0.3s;
  isolation: isolate;
}

#header.scrolling {
  background-color: white;
  padding-block: 1rem;
  box-shadow: 0px 20px 10px -15px rgba(0, 0, 0, 0.1);
}

.header-container {
  width: var(--def-width);
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu {
  z-index: 1000;
}

.toggle-menu,
.download-app-btn {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--color-border);
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-menu:hover,
.download-app-btn:hover {
  background-color: var(--color-border);
}

.download-app-btn > svg {
  width: 2rem;
  fill: var(--color-border);
  transition: fill 0.3s;
}

.download-app-btn:hover > svg {
  fill: white;
}

/* * toggle menu */

.toggle-menu > svg {
  width: 100%;
}

.line {
  fill: none;
  stroke: #d4ab5d;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke 0.3s;
}

.toggle-menu:hover .line {
  stroke: white;
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.menu-opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.menu-opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.menu-opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
/* * menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  position: fixed;
  inset: 0 0 0 auto;
  background-color: white;
  width: 25%;
  z-index: 100;
  translate: 100%;
  transition: translate 0.3s;
  font-weight: bold;
}

.menu-opened .menu {
  translate: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.menu-opened .menu + .menu-overlay {
  visibility: visible;
  opacity: 1;
}

.menu__item > a {
  transition: color 0.3s;
  position: relative;
}

.menu__item > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 1000rem;
  background-color: var(--color-border);
  inset: auto 0 0 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.menu__item > a:hover,
.menu__item.current > a {
  color: var(--color-border);
}

.menu__item > a:hover::after,
.menu__item.current > a::after {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  .menu {
    width: 80%;
  }
}

#site-logo {
  display: flex;
  width: 5rem;
}

#site-logo > img {
  width: 100%;
}

/* * splash */

.splash {
  position: fixed;
  inset: 0;
  z-index: 1000000;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: #241703;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.splash__logo {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .splash__logo {
    width: 90%;
  }
}

.splash.closed {
  visibility: hidden;
  opacity: 0;
}

.mouse-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  right: calc(50% - 12px);
  z-index: 10;
  cursor: pointer;
}

.mouse-scroll__arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse-scroll__arrow {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 3px solid white;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* * footer */

#footer {
  background-color: var(--color-dark-background);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10rem;
}

.footer-container {
  width: 80%;
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.footer-right {
  align-items: center;
}

.footer-right .about__logo {
  margin-top: -12rem;
}

.footer-right .about__sub,
.footer-right .about__title,
.footer-right .about__text {
  width: 35rem;
}

.footer-left {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 0.1rem solid #5c3d0e;
  border-radius: 1rem;
  background-color: #3c2603;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    width: 100%;
  }

  .footer-title,
  .footer-text,
  .footer-sub {
    width: 100%;
  }

  .footer-right,
  .footer-left {
    flex: none;
    width: 100%;
  }

  .footer-left {
    flex-direction: column;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-btn-background);
  padding: 0.5rem;
  border-radius: 100rem;
  transition: scale 0.3s;
}

.contact-item:hover {
  scale: 1.04;
}

.contact-item:last-child {
  gap: 0.5rem;
  justify-content: space-between;
}

.contact-item__icon {
  width: 4rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 100%;
  background-color: #311e01b3;
}

.contact-item__icon > svg {
  fill: var(--color-border);
  width: 100%;
}

.contact-item__text {
  flex: 1 0 0;
  text-align: center;
}

.footer-map {
  border: 0.2rem solid var(--color-border);
  border-radius: 0.5rem;
  flex: 1 0 0;
}

.copy-right {
  text-align: center;
  color: var(--color-border);
}

/* * home */

/* * home hero */

.home-hero {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

/* * */
.hero-slider {
  width: 100%;
  height: 100%;
}

.hero-slider-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.hero-slider-card__img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.hero-slider-card__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8464635854341737) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding-inline: 10%;
}

.hero-slider-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .hero-slider-card__overlay {
    padding-inline: 8%;
  }
  .hero-slider-card__content {
    width: 100%;
  }
}

/* * */
.hero-thumb-slider {
  position: absolute;
  inset: auto 10% 10% auto;
  width: 90%;
}

.hero-thumb-card {
  display: flex;
  position: relative;
  background-color: white;
  overflow: hidden;
  border: 0.2rem solid var(--color-border);
  border-radius: 1rem;
  transition: border-color 0.3s;
}

.hero-thumb-card:hover {
  border-color: white;
}

.hero-thumb-slider .swiper-slide {
  width: 25rem;
}

.swiper-slide-thumb-active .hero-thumb-card {
  border-color: white;
}

.hero-thumb-card__img {
  aspect-ratio: 25/10;
  object-fit: cover;
}

.hero-thumb-card__content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8464635854341737) 0%,
    rgba(0, 0, 0, 0) 75%
  );

  color: white;
  padding: 1.5rem;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .hero-thumb-card__img {
    aspect-ratio: 25/15;
  }

  .hero-thumb-card__content {
    padding: 1rem;
  }
}

.home-about {
  width: var(--def-width);
  max-width: var(--max-width);
  align-self: center;
  background-color: #241703;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: 0.3rem solid var(--color-border);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home-about__col {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-about__logo {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.home-about__col:last-child {
  gap: 1rem;
}

.home-about__col .contact-item {
  width: 75%;
}

.home-about__col .contact-item:nth-child(even) {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .home-about {
    flex-direction: column;
    padding: 2rem;
    align-items: stretch;
  }
  .home-about__col {
    flex: none;
  }
  .home-about__col .contact-item {
    width: 80%;
  }
}

/* * home blogs */

.home-blog {
  width: var(--def-width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-slider {
  width: 100%;
  margin-top: 2rem;
}

.blog-slider .swiper-slide {
  width: 50%;
}
.blog-slider .post-card {
  border: 0.2rem solid transparent;
  transition: border-color 0.3s, background-color 0.3s;
}

.swiper-slide-active .post-card {
  border-color: var(--color-border);
  background-color: var(--color-dark-background);
  color: white;
}

.blog-slider__pagination {
  position: static;
}
.blog-slider__pagination > .swiper-pagination-bullet {
  transition: width 0.3s;
  border-radius: 100rem;
}
.blog-slider__pagination > .swiper-pagination-bullet-active {
  width: 3rem;
  background: var(--color-border);
}

/* * home about app */

.about-app {
  width: var(--def-width);
  max-width: var(--max-width);
  align-self: center;
  display: flex;
  gap: 8rem;
  align-items: center;
  border: 0.1rem solid var(--color-btn-background);
  border-radius: 1rem;
  padding: 8rem;
  background-color: #cfb37d36;
}

.about-app__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-app__sub {
  color: #241703bf;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-app__btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.about-app__btns > * {
  flex: 1 0 0;
}

.about-app__btns > * > .contact-item__icon {
  align-items: center;
}

.about-app__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about-app__img {
  position: relative;
  margin: -20rem 0 -20rem -10rem;
}

@media screen and (max-width: 768px) {
  .about-app {
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
  }
  .about-app__content {
    gap: 2rem;
  }
  .about-app__btns {
    flex-direction: column;
  }
  .about-app__btns > * {
    width: 100%;
  }
  .about-app__boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-app__img {
    display: none;
  }
}

/* * app slider */

.app-sliders {
  width: var(--def-width);
  max-width: var(--max-width);
  align-self: center;
  margin-top: 2rem;
  display: flex;
}

.app-sliders__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: var(--color-dark-background);
  border: 0.2rem solid var(--color-border);
  border-radius: 2rem;
  padding: 3rem;
  flex: 2 0 0;
  padding-left: 14rem;
  max-width: 50%;
}

.app-content-slider {
  width: 100%;
}

.app-content-card {
  color: white;
  background-color: var(--color-dark-background);
}

.app-img-slider {
  flex: 3 0 0;
  max-width: 60%;
  margin-right: -10%;
}

.app-img-slider img {
  height: 100%;
  width: 100%;
}

.app-content-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.app-content-card__sub {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-content-card__sub > svg {
  width: 1.5rem;
  fill: var(--color-border);
}

.app-content-card__title {
  font-size: 4rem;
}

.app-content-card__text {
  opacity: 0.5;
}

.app-content-card__boxes {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.app-content-card__boxes .icon-box__icon {
  background-color: #fcebca;
}

@media screen and (max-width: 768px) {
  .app-sliders {
    position: relative;
    align-items: center;
  }
  .app-sliders__content {
    padding: 2rem;
    padding-left: 9rem;
    flex: none;
    max-width: none;
    width: 75%;
  }

  .app-content-card__sub,
  .app-content-card__text {
    font-size: 1.4rem;
  }

  .app-content-card__title {
    font-size: 2rem;
  }

  .app-content-card__boxes {
    display: none;
  }

  .app-img-slider {
    align-items: center;
    flex: none;
    max-width: none;
    margin: 0;
    max-width: 100%;
    position: absolute;
    left: 0;
    width: 49%;
  }
}

/* * home gifts */
.home-gifts {
  overflow: hidden;
  --cardW: 25rem;
  --cardH: 15rem;
  --cardZInc: 2em;
  position: relative;
  height: 50rem;
}

.home-gifts__cards {
  width: 100%;
  height: 100%;
  border: none;
}

/* * blog page */

.blog-cards {
  width: var(--def-width);
  max-width: var(--max-width);
  align-self: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  margin-top: 10rem;
}

.article-card {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.article-card__img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.article-card__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: flex-start;
  flex: 1 0 0;
}

.article-card__tag {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-dark-background);
  border-radius: 100rem;
  color: white;
}

.article-card__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.article-card__btn {
  appearance: none;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 1rem 1.5rem;
  position: relative;
  transition: filter var(--motion-duration);
}

.article-card__btn:hover {
  filter: brightness(1.1);
}

.article-card__btn:active {
  filter: brightness(0.9);
}

.article-card__btn > span {
  display: block;
  position: relative;
  transition: transform var(--motion-duration) var(--motion-ease);
  z-index: 1;
}

.article-card__btn:hover > span {
  transform: scale(1.05);
}

.article-card__btn:active > span {
  transform: scale(0.95);
}

.article-card__btn > svg {
  fill: var(--color-dark-background);
  position: absolute;
  top: -5%;
  left: 0;
  width: 110%;
  height: 110%;
}

.article-card__btn > svg > path {
  transition: var(--motion-duration) var(--motion-ease);
}

.article-card__btn:hover > svg > path {
  d: path(
    "M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0"
  );
}

.article-card__btn:active > svg > path {
  d: path(
    "M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0"
  );
}

/* * post page */

.post-page {
  width: 100rem;
  max-width: var(--def-width);
  align-self: center;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 10rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.post-page :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  margin-bottom: 1.2rem;
}

.post-page p {
  margin-bottom: 1.2rem;
  line-height: 2;
}

.post-page__title {
  font-size: 2.6rem;
  font-weight: bold;
}

.post-page__date {
  color: rgb(0 0 0 / 54%);
  font-size: 1.4rem;
}

.post-page__img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.5rem;
}
